<!DOCTYPE HTML>

<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="static/images/logo.svg" alt="" /></span>
						<h1>{{topic | title}}</h1>
						<p>The following contains ideas about the topic: {{topic}}. Our mission is to create<br />
						an open minded platform used to faciliate thoughtful discussions over a range of topics <br/>
						for social good. Our goal is to inspire change and encourage people to take action. We <br/>
						believe that positive change can occur following the simple act of discussion. <br/>
						Let's start by talking. </p>
					</header><!--comment-->

				<!-- Nav 
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">First Section</a></li>
							<li><a href="#second">Second Section</a></li>
							<li><a href="#cta">Get Started</a></li>
						</ul>
					</nav>-->

									<div id="main">

										<div id='firstComment'> 
		
											<div id='TypeinNew'>
											<form method="post" action ="/listtopic">
												<label for="fname">Response</label>
												<input type="text" name="newCom">
												<input type="hidden" name="category" value="{{topic}}">
												<input type="submit" value="Submit">	
											</form>
											
									</div>

						 <!--Content--> 
							<section id="content" class="main">
								{{comment}}
								<h2>Cupcake ipsum dolor</h2>
								<p>Cupcake ipsum dolor sit amet biscuit toffee. Donut pie sweet roll jujubes cheesecake tart I love. Jelly beans macaroon jelly-o candy toffee jelly beans chocolate cake sugar plum sugar plum. Lemon drops I love donut apple pie cookie soufflé topping jujubes. Lollipop jelly-o chupa chups powder croissant. I love dragée cotton candy. Muffin chocolate jujubes apple pie I love chocolate cake. Sesame snaps tart cake jujubes chupa chups I love. Lemon drops I love tootsie roll I love carrot cake I love lollipop. Bonbon wafer sweet roll pie sesame snaps powder. Cookie muffin lemon drops. Liquorice carrot cake muffin pudding apple pie. Caramels fruitcake carrot cake tiramisu fruitcake I love cookie oat cake muffin. Candy canes marshmallow cookie biscuit chocolate bar pie.</p>
								<p>Cupcake ipsum dolor sit amet biscuit toffee. Donut pie sweet roll jujubes cheesecake tart I love. Jelly beans macaroon jelly-o candy toffee jelly beans chocolate cake sugar plum sugar plum. Lemon drops I love donut apple pie cookie soufflé topping jujubes. Lollipop jelly-o chupa chups powder croissant. I love dragée cotton candy. Muffin chocolate jujubes apple pie I love chocolate cake. Sesame snaps tart cake jujubes chupa chups I love. Lemon drops I love tootsie roll I love carrot cake I love lollipop. Bonbon wafer sweet roll pie sesame snaps powder. Cookie muffin lemon drops. Liquorice carrot cake muffin pudding apple pie. Caramels fruitcake carrot cake tiramisu fruitcake I love cookie oat cake muffin. Candy canes marshmallow cookie biscuit chocolate bar pie.</p>
								<p>Cupcake ipsum dolor sit amet biscuit toffee. Donut pie sweet roll jujubes cheesecake tart I love. Jelly beans macaroon jelly-o candy toffee jelly beans chocolate cake sugar plum sugar plum. Lemon drops I love donut apple pie cookie soufflé topping jujubes. Lollipop jelly-o chupa chups powder croissant. I love dragée cotton candy. Muffin chocolate jujubes apple pie I love chocolate cake. Sesame snaps tart cake jujubes chupa chups I love. Lemon drops I love tootsie roll I love carrot cake I love lollipop. Bonbon wafer sweet roll pie sesame snaps powder. Cookie muffin lemon drops. Liquorice carrot cake muffin pudding apple pie. Caramels fruitcake carrot cake tiramisu fruitcake I love cookie oat cake muffin. Candy canes marshmallow cookie biscuit chocolate bar pie.</p>
								<p>Cupcake ipsum dolor sit amet biscuit toffee. Donut pie sweet roll jujubes cheesecake tart I love. Jelly beans macaroon jelly-o candy toffee jelly beans chocolate cake sugar plum sugar plum. Lemon drops I love donut apple pie cookie soufflé topping jujubes. Lollipop jelly-o chupa chups powder croissant. I love dragée cotton candy. Muffin chocolate jujubes apple pie I love chocolate cake. Sesame snaps tart cake jujubes chupa chups I love. Lemon drops I love tootsie roll I love carrot cake I love lollipop. Bonbon wafer sweet roll pie sesame snaps powder. Cookie muffin lemon drops. Liquorice carrot cake muffin pudding apple pie. Caramels fruitcake carrot cake tiramisu fruitcake I love cookie oat cake muffin. Candy canes marshmallow cookie biscuit chocolate bar pie.</p>
								<p>Cupcake ipsum dolor sit amet biscuit toffee. Donut pie sweet roll jujubes cheesecake tart I love. Jelly beans macaroon jelly-o candy toffee jelly beans chocolate cake sugar plum sugar plum. Lemon drops I love donut apple pie cookie soufflé topping jujubes. Lollipop jelly-o chupa chups powder croissant. I love dragée cotton candy. Muffin chocolate jujubes apple pie I love chocolate cake. Sesame snaps tart cake jujubes chupa chups I love. Lemon drops I love tootsie roll I love carrot cake I love lollipop. Bonbon wafer sweet roll pie sesame snaps powder. Cookie muffin lemon drops. Liquorice carrot cake muffin pudding apple pie. Caramels fruitcake carrot cake tiramisu fruitcake I love cookie oat cake muffin. Candy canes marshmallow cookie biscuit chocolate bar pie.</p>
							</section> 

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Let's Talk</h2>
							<p>The following contains ideas about the topic:politics. Our mission is to create
						an open minded platform used to faciliate thoughtful discussions over a range of topics 
						for social good. Our goal is to inspire change and encourage people to take action. We 
						believe that positive change can occur following the simple act of discussion. 
						Let's start by talking.</p>
							<ul class="actions">
								<li><a href="/webpage" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							
						
						<div class="alt"><a data-fancybox-group="portfolio" class="fancybox" href="#"><img class="thumb" src="/static/theme/images/portfolio/logo.png" alt=""></a></div> 
						<br></br>					

							<!-- <h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(555) 123-4567 </dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>  -->
							<ul class="icons">
								<li><a href="https://twitter.com/?lang=en" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/?hl=en" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="https://dribbble.com/" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
