body{
	background: light blue;
}
.comment{
	position: relative;
	width: 800px;
 
	color: #660066;
	margin: 7px;
	padding: 5px,5px;
	border: 2px #660066;
	background-color: white;
	border-style: solid;
	border-color: #B8B8B8
 
}
.likePic{
	position: absolute;
	font-size: 17px;
    left:125px;
    
    top: 89px; 
    border-style: solid;
	border-color: #B8B8B8
	padding: 2px,2px;
}
#bookname{
    position: absolute;
    left: 125px;
	font-size:25px;
	border-style: solid;
	border-color: #B8B8B8
	
}
